<title>UCAPAN HARI RAYA ID</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="nofollow, noindex" />
<meta name="description" content="Kami keluarga bapak junaidi mengucapkan selamat hari raya iddul fitri 1444 H, mohon maaf lahir dan batin" />
<link rel="canonical" href="/" />
<meta property="og:url" content="/" />
<meta property="og:type" content="lebaran" />
<meta property="og:site_name" content="ucapan hari raya lebaran" />
<meta property="og:description" content="Kami keluarga bapak junaidi mengucapkan selamat hari raya iddul fitri 1444 H, mohon maaf lahir dan batin" />
<meta property="og:title" content="bolaxd" />
<meta property="og:image" content="bolaxd" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Oleo+Script:wght@400;700&family=Tangerine:wght@700&display=swap" rel="stylesheet"><link rel="icon" href="/favicon.ico" />
<link rel="stylesheet" href="globals.css" />
