<title>PESAN UNTUK TIA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="nofollow, noindex" />
<meta name="description" content="Tia Ares Mau Ngomong Sebenarnya Ares Emang Suka Sama Tia, Ares Gak Mau Kehilangan Tia, Ares Mau Ngomong, does Tia want to be my girlfriend?" />
<link rel="canonical" href="/" />
<meta property="og:url" content="/" />
<meta property="og:type" content="lebaran" />
<meta property="og:site_name" content="pesan untuk tia" />
<meta property="og:description" content="Tia Ares Mau Ngomong Sebenarnya Ares Emang Suka Sama Tia, Ares Gak Mau Kehilangan Tia, Ares Mau Ngomong, does Tia want to be my girlfriend?" />
<meta property="og:title" content="bolaxd" />
<meta property="og:image" content="bolaxd" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Oleo+Script:wght@400;700&family=Tangerine:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="globals.css" />
