<title>PESAN UNTUK TIA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="nofollow, noindex" />
<meta name="description" content="TIA TOLONG DI BUKA YA SAYANG" />
<link rel="canonical" href="/" />
<meta property="og:url" content="/" />
<meta property="og:type" content="pesantia" />
<meta property="og:site_name" content="pesan untuk tia" />
<meta property="og:description" content="TIA TOLONG DIBUKA YA SAYANG" />
<meta property="og:title" content="Dari Ares Untuk Tia" />
<meta property="og:image" content="https://telegra.ph/file/ddebbe51a80ea8f966211.jpg" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Oleo+Script:wght@400;700&family=Tangerine:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="globals.css" />
