<div class="flex justify-center overflow-hidden">
	  <img class=" w-36 h-36 x1" src="/lentera.png" alt="lenteran"/>
	  <img class="w-48 h-48 x2" src="/lentera.png" alt="lenteran"/>
	  <img class="w-32 h-32 x3" src="/lentera.png" alt="lenteran"/>
	  <img class="w-52 h-52 x1" src="/lentera.png" alt="lenteran"/>
	  <img class="w-48 h-48 x2 animate-bounce" src="/lentera.png" alt="lenteran"/>
	  <img class="w-32 h-32 x3" src="/lentera.png" alt="lenteran"/>
	  <img class="w-48 h-48 x2" src="/lentera.png" alt="lenteran"/>
</div>
<h1 class="x5 shadow-lg">Selamat hari raya</h1>
<span class="block border-b border-slate-300 mx-7 md:mx-20"></span>
<h1 class="x51 shadow-lg">Idul fitri - 1444 H</h1>
<div class="flex flex-col justify-center items-center">
	<img class="w-52 h-52 rounded-xl x8" src="/foto.jpg" alt="gada" />
</div>
<div class="flex justify-center items-center mx-4 overflow-hidden">
	<img class="absolute w-28 h-28 left-0 bottom-64 rotate-[15deg]" src="/ketupat.gif" alt="ketupatt"/>
	<img class="absolute w-28 h-28 right-0 bottom-28 rotate-[25deg]" src="/fitri.gif" alt="ketupatt"/>
	<div class="w-full h-48 bg-stone-900/30 rounded-xl my-4 text-shadow-sm px-10 pt-5 border-2 border-slate-400/30 text-xl text-center text-white font-['Kalam']">Kami dari keluarga bapak junaidi mengucapkan “Minal a'idzin wal faidzin, Mohon maaf lahir dan batin”</div>
</div>